html {
    background-image: src("https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-9/151179459_460454178465590_6538885587044225929_o.jpg?_nc_cat=102&ccb=3&_nc_sid=e3f864&_nc_ohc=eEeWFyjbaqMAX-uncge&_nc_ht=scontent.fdad3-1.fna&oh=718a355d9b41c126bbb4c6e8e034750e&oe=6063FE78");
}

p {
    text-align: center;
    margin-top: 1000px;
    font-size: 1px;
    color: rgba(0,0,0,0);
    cursor: context-menu;
}
::selection {
    background-color: rgba(0,0,0,0);
}
