html {
    background-image: src("");
}

p {
    text-align: center;
    margin-top: 1000px;
    font-size: 1px;
    color: rgba(0,0,0,0);
    cursor: context-menu;
}
::selection {
    background-color: rgba(0,0,0,0);
}
