html {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: initial;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

p {
    text-align: center;
    margin-top: 23px;
    font-size: 1px;
    color: rgba(0,0,0,0);
    cursor: context-menu;
}
::selection {
    background-color: rgba(0,0,0,0);
}
